div.cart-counter {
  line-height: 2px;
}

div.cart-counter button {
  height: 31px;
  line-height: 2px;
}

div.cart-counter button:focus {
  box-shadow: none;
}

div.cart-counter input {
  border-width: 2px;
  text-align: center;
  height: 31px;
  width: 52px;
}

div.cart-counter input:focus {
  box-shadow: none;
}

h6 small {
  font-size: 75%;
}

div.footer-element {
  display: flex;
  justify-content: center;
}

div.card-footer {
  border-top: none;
}

.card-img-top {
  max-height: 224px;
  object-fit: contain;
}

/* HIDE ARROWS/SPINNERS IN INPUT NUMBER*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#cart-view {
  display: none;
}

.cart-image {
  max-height: 96px;
}

#spinner {
  left: calc(50% - 16px);
}